---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="About Us">
    <div
        class="grid lg:grid-cols-2 grid-cols-1 lg:gap-20 gap-3 container w-11/12 mx-auto mt-20"
    >
        <div class="lg:text-justify leading-loose">
            <h1>About Us</h1>

            <p class="lg:mt-8 mt-3 text-lg">
                We are a group of people who love fishing and Punta Mita is one of the best places for it.
                one of the best places for that. We have a lot of fun and
                fun and great activities for our clients.
                <br />
                <br />
                Come and join us in our wide and exciting variety of adventure tours, designed especially for you, and experience
                adventure tours, designed especially for you, and live unforgettable moments.
                Explore the most exciting experiences that Puerto Vallarta has to offer with our exclusive and distinctive
                to offer with our exclusive and distinctive excursions.
            </p>
        </div>
        <div class="max-w-2xl mb-6 pt-3 lg:pt-0">
            <img
                src="/img/yknot.webp"
                class="w-full h-auto object-cover"
                width={500}
                height={500}
                alt="about k-not fishing"
            />
        </div>
    </div>
</Layout>
