---
import Tours from "../../components/Tours.astro";
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Our Tours">
    <div class="w-11/12 mx-auto">

        <Tours title="MEET OUR ULTIMATE EXPERIENCES!"/>

    </div>
</Layout>
