---
import Layout from "../../layouts/Layout.astro";

---

<Layout title="Contactanos!" >
    <div class="py-24">
        <div class="grid lg:grid-cols-2 grid-cols-1 lg:w-4/6 w-5/6 mx-auto">
          <div class="lg:mb-0 mb-12">
            <h4 class=" font-bold lg:text-6xl text-4xl">Enviar un mensaje.</h4>
            <div class="lg:mr-12 mr-0 mt-6">
              <input type="text" placeholder="Nombre" class="mt-3 px-3 py-3 bg-transparent border-2 shadow-sm border-blue-950 placeholder-blue-900 font-normal focus:outline-none focus:border-white  block w-full sm:text-ms " />
              <input type="email" placeholder="Email" class="mt-3 px-3 py-3 bg-transparent border-2 shadow-sm border-blue-950 placeholder-blue-900 font-normal focus:outline-none focus:border-white  block w-full sm:text-ms " />
              <input type="tel" placeholder="Telefono" class="mt-3 px-3 py-3 bg-transparent border-2 shadow-sm border-blue-950 placeholder-blue-900 font-normal focus:outline-none focus:border-white  block w-full sm:text-ms " />
              <textarea placeholder="Mensaje" class="mt-3 px-3 py-3 bg-transparent border-2 shadow-sm border-blue-950 placeholder-blue-900 font-normal focus:outline-none focus:border-white  block w-full sm:text-ms   rounded-md"></textarea>
            </div>
            <div class=" my-6 ">
              <h4>Tu Actividad</h4>
              <div class="grid lg:grid-cols-2 grid-cols-1 ml-1 font-light gap-3">
                <div>
                  <input type="checkbox" class="mr-3" />Fishing Trip <br />
                  <input type="checkbox" class="mr-3" />Whale Watching<br />
                  <input type="checkbox" class="mr-3" />Snorkeling and Scuba Diving<br />
                  <input type="checkbox" class="mr-3" />Surf spot transport<br />
                </div>
                <div>
                  <input type="checkbox" class="mr-3" />Coastline Cruise<br />
                  <input type="checkbox" class="mr-3" />Jet Ski rental<br />
                  <input type="checkbox" class="mr-3" />Special Destination Trip<br />
                </div>
              </div>
              <div>
                <button type="submit" class="btn-primary mt-5 block w-24 sm:text-ms ">Enviar</button>
              </div>
            </div>
          </div>
          <div class="bg-slate-100 rounded-md">
            <div class="mx-12 ">
              <h4 class="font-bold lg:text-xl text-lg mt-12 mb-8 lg:text-left text-center">Si tienes alguna duda o quieres realizar tu reserva envíanos un mensaje y en menos de 24hrs estaremos en contacto.</h4>
              <div class="flex flex-col gap-3 font-semibold">
                    <a href="mailto:info@gofishpuntamita.com" class="flex items-center gap-3">
                     <!--  <FaEnvelope /> -->
                      <p class="mb-0 pb-0">info@gofishpuntamita.com</p>
                    </a>
                    <a href="https://wa.me/+523221351204" class="flex items-center gap-3">
                      <!-- <FaWhatsapp /> -->
                      <p class="mb-0 pb-0">WhatsApp</p>
                    </a>
                    <a href="tel:+523221351204" class='flex items-center gap-3'>
                      <!-- <FaPhone/> -->
                      <p class='mb-0 pb-0'>+52 322 135 1204</p>
                    </a>
              </div>
    
              <h4 class="font-bold lg:text-2xl text-xl mt-10 mb-6">Síguenos</h4>
              <div class="flex pb-12 items-center gap-5 text-xl">
                <!-- <FaFacebook /> -->
                <!-- <FaInstagram /> -->
              </div>
            </div>
          </div>
    
        </div>
      </div>
</Layout>   