---

---
<a href="https://wa.me/+523221351204" target='_blank'>
    <div class='bg-blue-950 text-white text-base fixed bottom-3 right-[4%] z-10 flex flex-row items-center p-2 rounded-md gap-1 uppercase font-semibold'>
        <!-- <FaWhatsapp class='text-white text-2xl'/> --> Enviar WhatsApp
    </div>
</a>